!!!
html
  head
    title = title
    meta(charset='utf-8')
    title What Fucking Phish Should I Listen To?
    meta(name='description', content='What fucking Phish should you listen to? I don\'t fucking know.')
    link(rel='stylesheet', href='/stylesheets/style.css') 
    link(rel='shortcut icon', type='image/x-icon', href='favicon.ico')
  body!= body